# Ignore egg files
*.egg*

# Ignore python cache files
**/__pycache__*

# Ignore Python Notebooks
**.ipynb_checkpoints/*
**/.ipynb_checkpoints/*

# Testing reports
.pytest_cache/*
.coverage
project/tests/report.html
